.card-header{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: solid 1px black;
}

.row {
    padding: 20px;
    /* width: max-content;
    height: max-content; */
}

.inputForm {
    height: 100px;
    width: 1000px;
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.formControl {
    height: 30px;
    width: 150px;
    border: 2px solid grey;
}